.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}
.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer-form-slogan {
    display: block;
    margin-bottom: 20px;

    color: var(--white-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

@media screen and (max-width: 767px) {
    .footer-container {
        display: block;
        text-align: center;
    }
    
    .address-list .address-item:not(:last-child) {
        margin-bottom: 8px;
    }

    .footer-container-item .social-list{
        margin-bottom: 60px;
    }

    .footer-container-item .social-item{
        display: flex;
        justify-content: center;
    }

    .footer-container-item .main-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container-item:not(:last-child){
        margin-bottom: 60px;
        }
    

    .footer-form-label {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column; 
       
    }

    .footer-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    .address-item{
        margin-bottom: 8px;
    }

   .footer-container-item .main-btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer-container-item {
        text-align: center;
    }

    .footer-form-label {
        margin-bottom: 20px;
    }
}


.logo-footer {
    color: var(--white-text-color);
}


.address {
    font-style: inherit;
}

@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        flex-direction: row;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }
    
    .footer-container-item:not(:last-child){
    margin-right: 70px;
    }

    .footer-container-item:last-child {
        margin-left: auto;
    }

    .address-list .address-item:not(:last-child) {
        margin-bottom: 9px;
    }
    
    .footer-form {
    display: flex;
}

.footer-container-item {
    text-align: left;
}
}











.address-link {
    color: var(--light-grey-rgba); 
    transition: color var(--time-animation) var(--time-distribution);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-link[target="_blank"] {
    color: var(--white-text-color);
}





.footer-icon {
    fill: var(--white-text-color);
    transition: background-color var(--time-animation) var(--time-distribution);
}

.footer-icon-link {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time-animation) var(--time-distribution);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}



.footer-form-label {
    display: block;
    margin-right: 12px;
}

.footer-form-input {
    padding: 15px;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &::placeholder {
        display: block;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    
    &:not(:placeholder-shown){
    color: var(--white-background-color);
    }
}


.footer-form-icon {
    margin-left: 10px;
}