.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 100%;
  
    text-align: center;
    background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/mobile/studio/bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/mobile/studio/bg-mobile@2x.jpg);
      }
  }

.hero-title {
    margin-bottom: 30px;

    color: var(--white-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/tablet/studio/bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/tablet/studio/bg-tablet@2x.jpg);
      }
  }
}

@media screen and (min-width: 1200px) {
    .hero-title {
        margin-bottom: 30px;
    
        color: var(--white-text-color);
        font-size: 44px;
        line-height: 1.36;
    }
      
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/desktop/studio/bg-desktop.jpg);
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././../images/desktop/studio/bg-desktop@2x.jpg);
        background-position: center;
        }
  }
}