:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-modal-btn-color: #188CE8;
    --white-text-color: #fff;
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --white-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --light-grey-rgba: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --bg-color-activity-wrraper: rgba(47, 48, 58, 0.8);
    --backdrop-bg: rgba(0, 0, 0, 0.2);
    --time-animation: 250ms;
    --time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
    --card-top: 30px;
    --card-left: 30px;
    --card-item: 3;
}